.timetableContainer
    display: flex
    flex-wrap: wrap

.generalPage
    & h2 
        color: #666666
        font-size: 40px
        &:first-child
            margin-top: 0

.newsContainer
    display: flex
    justify-content: space-between
    flex-wrap: wrap

@media (max-width: 1179px)
    .timetableContainer
        justify-content: space-between